[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "link/.vim"]
	path = link/.vim
	url = https://github.com/gpittau/vimfiles.git
	#url = git://github.com/gpittau/vimfiles.git
