; cli configs
long = true
registry = "https://registry.npmjs.org/"

; userconfig /home/gabriel/.npmrc
prefix = "/home/gabriel/.npm"

; default values
always-auth = false
bin-links = true
browser = null
cache = "/home/gabriel/.npm"
cache-lock-retries = 10
cache-lock-stale = 60000
cache-lock-wait = 10000
cache-max = null
cache-min = 10
color = true
coverage = false
depth = null
description = true
dev = false
editor = "vim"
engine-strict = false
fetch-retries = 2
fetch-retry-factor = 10
fetch-retry-maxtimeout = 60000
fetch-retry-mintimeout = 10000
force = false
git = "git"
global = false
globalconfig = "/home/gabriel/.npm/etc/npmrc"
globalignorefile = "/home/gabriel/.npm/etc/npmignore"
group = 1001
;https-proxy = "http://proxy.corp.globant.com:3128"
ignore = ""
init-module = "/home/gabriel/.npm-init.js"
init.author.email = ""
init.author.name = ""
init.author.url = ""
init.version = "0.0.0"
json = false
link = false
loglevel = "http"
; long = false (overridden)
message = "%s"
node-version = "v0.10.20"
npat = false
npaturl = "http://npat.npmjs.org/"
onload-script = false
optional = true
parseable = false
pre = false
; prefix = "/usr/local" (overridden)
production = false
proprietary-attribs = true
;proxy = "http://proxy.corp.globant.com:3128"
rebuild-bundle = true
registry = "https://registry.npmjs.org/"
rollback = true
save = false
save-bundle = false
save-dev = false
save-optional = false
searchexclude = null
searchopts = ""
searchsort = "name"
shell = "/bin/bash"
shrinkwrap = true
sign-git-tag = false
strict-ssl = true
tag = "latest"
tmp = "/home/gabriel/tmp"
umask = 18
unicode = true
unsafe-perm = true
usage = false
user = 1000
user-agent = "node/v0.10.20 linux ia32"
userconfig = "/home/gabriel/.npmrc"
userignorefile = "/home/gabriel/.npmignore"
username = ""
version = false
versions = false
viewer = "man"
yes = null



